.todoinput {
  ::ng-deep form {
    mat-form-field {
      width: 40%;
      margin-right: 1rem;
    }

    button {
      width: 10%;
      height: 56px;
    }
  }
}

.todolist {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  flex-direction: column;
  flex-wrap: wrap;

  ::ng-deep label {
    text-transform: capitalize;
    font-size: 1rem;
    overflow-wrap: anywhere;
  }

  .completed {
    ::ng-deep label {
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }
  }
}